<v-pane class="volunteer-card">
  <v-pane-header>
    <span ng-show="$ctrl.individual.name">
      Name: {{$ctrl.individual.name}}
    </span>
    <span ng-show="$ctrl.individual.name && $ctrl.individual.phoneNumber">
      ,
    </span>
    <span ng-show="$ctrl.individual.phoneNumber">
      Phone number: {{$ctrl.individual.phoneNumber}}
    </span>
    <span ng-show="$ctrl.individual.address && $ctrl.individual.phoneNumber">
      ,
    </span>
    <span ng-show="$ctrl.individual.address">
      Address: {{$ctrl.individual.address}}
    </span>
    <span ng-show="!$ctrl.individual.address && !$ctrl.individual.phoneNumber && !$ctrl.individual.name">
      Basic details are not present
    </span>
  </v-pane-header>
  <v-pane-content>

    <div class="row" ng-show="$ctrl.hasRole('member') && $ctrl.inModifyMode">
      <div class="col-md-4">
        <p class="input-group">
          <input  type="text" ng-model="$ctrl.model.u_individual.name" placeholder="volunteer name" class="form-control" required="">
          <span class="input-group-btn">
            <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i></button>
          </span>
        </p>
      </div>
      <div class="col-md-4">
        <p class="input-group">
          <input  type="text" ng-model="$ctrl.model.u_individual.email" placeholder="volunteer email" class="form-control" required="">
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ><i class="glyphicon glyphicon-envelope"></i></button>
          </span>
        </p>
      </div>
      <div class="col-md-4">
        <p class="input-group">
          <input 	type="text"
          class="form-control"
          ng-autocomplete
          ng-model="$ctrl.model.u_individual.address" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ><i class="glyphicon glyphicon-screenshot"></i></button>
          </span>
        </p>
      </div>
    </div>

    <div class="row"  ng-show="$ctrl.hasRole('member') && $ctrl.inModifyMode">
      <div class="col-md-4">
          <p class="input-group">
            <input 	type="text"
                    class="form-control "
                    placeholder="Join date YYYY-MM-DD"
                    uib-datepicker-popup="{{format}}"
                    ng-model="$ctrl.model.u_individual.joinDate"
                    is-open="$ctrl.model.calendar.joinDate.isOpen"
                    datepicker-options="$ctrl.model.calendar.joinDate"
                    ng-required="true"
                    close-text="Close"
                    alt-input-formats="altInputFormats"  />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="$ctrl.model.calendar.joinDate.isOpen = !$ctrl.model.calendar.joinDate.isOpen"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </p>
      </div>
      <div class="col-md-4">
          <p class="input-group">
            <input 	type="text"
                    class="form-control"
                    placeholder="Birthdate YYYY-MM-DD"
                    uib-datepicker-popup="{{format}}"
                    ng-model="$ctrl.model.u_individual.birthDate"
                    is-open="$ctrl.model.calendar.birthDate.isOpen"
                    datepicker-options="$ctrl.model.calendar.birthDate"
                    ng-required="true"
                    close-text="Close"
                    alt-input-formats="altInputFormats"  />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="$ctrl.model.calendar.birthDate.isOpen = !$ctrl.model.calendar.birthDate.isOpen"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </p>
      </div>
      <div class="col-md-4">
        <p class="input-group">
            <input  type="text" ng-model="$ctrl.u_individual.phoneNumber" placeholder="Volunteer phone number" class="form-control" required="">
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ><i class="glyphicon glyphicon-phone"></i></button>
            </span>
        </p>
      </div>
    </div>
    <p ng-show="$ctrl.individual.joinDate && !$ctrl.inModifyMode">
      Started at : {{$ctrl.individual.joinDate | date:'MM/dd/yyyy' }}
    </p>

    <p ng-show="$ctrl.individual.birthDate && !$ctrl.inModifyMode">
      BirthDate at : {{$ctrl.individual.birthDate| date:'MM/dd/yyyy' }}
    </p>

    <div ng-show="!$ctrl.inModifyMode && $ctrl.individual.email">
      Email: {{$ctrl.individual.email}}
    </div>

    <div ng-show="!$ctrl.inModifyMode && $ctrl.individual.details">
      Additional details: {{$ctrl.individual.details}}
    </div>
    <p ng-show="$ctrl.inModifyMode">
      <textarea ng-model="$ctrl.model.u_individual.details" placeholder="Addition data" ng-show="$ctrl.hasRole('member') && $ctrl.inModifyMode" class="form-control">Additional data</textarea>
    </p>

    <div ng-show="!$ctrl.inModifyMode && $ctrl.individual.preference">
      Preferences: {{$ctrl.individual.preference}}
    </div>
    <p ng-show="$ctrl.inModifyMode">
      <textarea ng-model="$ctrl.model.u_individual.preference" placeholder="Addition data" ng-show="$ctrl.hasRole('member') && $ctrl.inModifyMode" class="form-control">Additional data</textarea>
    </p>

    <button type="button"
      class="btn btn-primary"
      ng-model="startRemove"
      ng-show="$ctrl.hasRole('manager') && !startRemove"
      uib-btn-checkbox
      btn-checkbox-true="1"
      btn-checkbox-false="0">
    Delete
    </button>
    <button type="button"
      class="btn btn-primary"
      ng-model="startRemove"
      ng-show="$ctrl.hasRole('manager') && startRemove"
      uib-btn-checkbox
      btn-checkbox-true="0"
      btn-checkbox-false="1">
    Cancel remove
    </button>
    <button type="button"
      class="btn btn-danger"
      ng-model="startRemove"
      ng-show="$ctrl.hasRole('manager') && startRemove"
      uib-btn-checkbox
      btn-checkbox-true="1"
      btn-checkbox-false="0"
      ng-click="$ctrl.removeVolunteer()">
    Confirm remove
    </button>
    <button type="button"
      class="btn btn-primary"
      ng-model="$ctrl.inModifyMode"
      ng-show="$ctrl.hasRole('member') && !$ctrl.inModifyMode"
      uib-btn-checkbox
      btn-checkbox-true="true"
      btn-checkbox-false="false">
    Modify
    </button>
    <button type="button"
      class="btn btn-primary"
      ng-model="$ctrl.inModifyMode"
      ng-show="$ctrl.hasRole('member') && $ctrl.inModifyMode"
      ng-click="$ctrl.saveVolunteer()"
      uib-btn-checkbox
      btn-checkbox-true="false"
      btn-checkbox-false="true">
    Save
    </button>
  </v-pane-content>
</v-pane>
