<v-pane class="volunteer-card">
  <v-pane-header>
    {{$ctrl.individual.name}} , {{$ctrl.individual.email}} , {{$ctrl.individual.address}}
  </v-pane-header>
  <v-pane-content>
    <div ng-show="$ctrl.hasRole('member') && $ctrl.inModifyMode">
      <p class="input-group">
        <input  type="text" ng-model="$ctrl.model.volunteer.name" placeholder="volunteer name" class="form-control input-md input-border-radius-5" required="">
      </p>
      <p class="input-group">
        <input  type="text" ng-model="$ctrl.model.volunteer.email" placeholder="volunteer email" class="form-control input-md input-border-radius-5" required="">
      </p>
      <p class="input-group">
        <input 	type="text"
        class="form-control input-md"
        ng-autocomplete
        ng-model="$ctrl.model.volunteer.address" />
      </p>
    </div>

    <p ng-show="$ctrl.individual.joinDate && !$ctrl.inModifyMode">
      Started at : {{$ctrl.individual.joinDate}}
    </p>
    <div class="panel-body" ng-show="$ctrl.hasRole('member') && $ctrl.inModifyMode">
      <p class="input-group">
        <input 	type="text"
                class="form-control"
                placeholder="Join date YYYY-MM-DD"
                uib-datepicker-popup="{{format}}"
                ng-model="$ctrl.model.volunteer.joinDate"
                is-open="$ctrl.model.calendar.joinDate.isOpen"
                datepicker-options="$ctrl.model.calendar.joinDate"
                ng-required="true"
                close-text="Close"
                alt-input-formats="altInputFormats"  />
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="$ctrl.model.calendar.joinDate.isOpen = !$ctrl.model.calendar.joinDate.isOpen"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </p>
    </div>
    <p ng-show="$ctrl.individual.birthDate && !$ctrl.inModifyMode">
      BirthDate at : {{$ctrl.individual.birthDate}}
    </p>
    <div class="panel-body" ng-show="$ctrl.hasRole('member') && $ctrl.inModifyMode">
      <p class="input-group">
        <input 	type="text"
                class="form-control"
                placeholder="Birthdate YYYY-MM-DD"
                uib-datepicker-popup="{{format}}"
                ng-model="$ctrl.model.volunteer.birthDate"
                is-open="$ctrl.model.calendar.birthDate.isOpen"
                datepicker-options="$ctrl.model.calendar.birthDate"
                ng-required="true"
                close-text="Close"
                alt-input-formats="altInputFormats"  />
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="$ctrl.model.calendar.birthDate.isOpen = !$ctrl.model.calendar.birthDate.isOpen"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </p>
    </div>


    <div ng-show="$ctrl.inModifyMode">
      {{$ctrl.individual.details}}
    </div>
    <textarea ng-model="$ctrl.model.volunteer.details" ng-show="$ctrl.hasRole('member') && $ctrl.inModifyMode" class="form-control">Additional data</textarea>

    <button type="button"
      class="btn btn-primary"
      ng-model="startRemove"
      ng-show="$ctrl.hasRole('manager') && !startRemove"
      uib-btn-checkbox
      btn-checkbox-true="1"
      btn-checkbox-false="0">
    Delete
    </button>
    <button type="button"
      class="btn btn-primary"
      ng-model="startRemove"
      ng-show="$ctrl.hasRole('manager') && startRemove"
      uib-btn-checkbox
      btn-checkbox-true="0"
      btn-checkbox-false="1">
    Cancel remove
    </button>
    <button type="button"
      class="btn btn-danger"
      ng-model="startRemove"
      ng-show="$ctrl.hasRole('manager') && startRemove"
      uib-btn-checkbox
      btn-checkbox-true="1"
      btn-checkbox-false="0"
      ng-click="$ctrl.removeVolunteer()">
    Confirm remove
    </button>
    <button type="button"
      class="btn btn-primary"
      ng-model="$ctrl.inModifyMode"
      ng-show="$ctrl.hasRole('member') && !$ctrl.inModifyMode"
      uib-btn-checkbox
      btn-checkbox-true="true"
      btn-checkbox-false="false">
    Modify
    </button>
    <button type="button"
      class="btn btn-primary"
      ng-model="$ctrl.inModifyMode"
      ng-show="$ctrl.hasRole('member') && $ctrl.inModifyMode"
      ng-click="$ctrl.saveVolunteer()"
      uib-btn-checkbox
      btn-checkbox-true="false"
      btn-checkbox-false="true">
    Save
    </button>
  </v-pane-content>
</v-pane>
