<div class="row">
  <div class="col-md-12">
    <div class="panel panel-primary family-info-custom">
    	<div class="panel-heading">
    		<h3 class="panel-title">
          {{$ctrl.family.name}}
    		</h3>
    	</div>
    	<div class="panel-body">

        <div>Address : {{$ctrl.family.address}}</div>
          <span>Family tree</span>
          <table class="table table-condensed table-hover table-striped">
            <thead>
              <tr>
                <th>
                  Name
                </th>
                <th>
                  Phone
                </th>
                <th>
                  Age
                </th>
                <th>
                  Role
                </th>                
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="member in $ctrl.family.familyTree track by $index">
                <td>
                  {{member.name}}
                </td>
                <td>
                  {{member.phone}}
                </td>
                <td>
                  {{member.age}}
                </td>
                <td>
                  {{member.role}}
                </td>
              </tr>
            </tbody>
          </table>
    	</div>
      <div>
        <ng-map  center="{{$ctrl.family.address}}" zoom-to-include-markers="true">
           <marker position="{{$ctrl.family.address}}" animation="Animation.BOUNCE"></marker>
        </ng-map>
      </div>
    	<div class="panel-footer">
        <button type="button"
          class="btn btn-primary"
          ng-model="emptyModal"
          uib-btn-checkbox
          btn-checkbox-true="1"
          btn-checkbox-false="0"
          ng-click="$ctrl.removeFamily($ctrl.family)">
        Delete 
        </button>
    	</div>
    </div>
  </div>
</div>
