<div class="row">
  <div class="col-md-12">
    <div class="panel panel-primary family-info-custom">
    	<div class="panel-heading">
    		<h3 class="panel-title" ng-show="!$ctrl.inModifyMode">
          Family name : {{$ctrl.family.name}}
          <span ng-show="$ctrl.family.inWaitingList" class="float-rigth"> In waiting list since : {{$ctrl.family.createdAt | date:'MM/dd/yyyy'}} </span>
          <span ng-show="!$ctrl.family.inWaitingList" class="float-rigth"> Total family members : {{$ctrl.family.familyTree.length}} </span>
    		</h3>
        <input
        type="text"
        ng-show="$ctrl.hasRole('member') && $ctrl.inModifyMode"
        ng-model="$ctrl.u_family.name"
        class="form-control input-md"
        required="">
    	</div>
      <div class="panel-body">
        <h3>Addition data</h3>
        <p ng-show="!$ctrl.inModifyMode">
          {{$ctrl.family.details}}
        </p>
        <textarea ng-model="$ctrl.u_family.details" ng-show="$ctrl.hasRole('member') && $ctrl.inModifyMode" class="form-control">Additional data</textarea>
      </div>
      <div class="panel-body" ng-show="$ctrl.family.phone || $ctrl.inModifyMode">
        <h3>Home phone</h3>
        <p ng-show="!$ctrl.inModifyMode">
          {{$ctrl.family.phone}}
        </p>
        <input type="text" ng-show="$ctrl.hasRole('member') && $ctrl.inModifyMode" ng-model="$ctrl.u_family.phone" placeholder="Family home phone" class="form-control input-md" />
      </div>
    	<div class="panel-body" ng-show="$ctrl.family.address || $ctrl.inModifyMode">
        <h3>Address</h3>
        <div ng-show="!$ctrl.inModifyMode">
          {{$ctrl.family.address}}
        </div>
        <div>
          <input 	type="text"
            class="form-control input-md"
            ng-show="$ctrl.hasRole('member') && $ctrl.inModifyMode"
            ng-autocomplete
            ng-model="$ctrl.u_family.address" />
        </div>
          <span>Family tree</span>
          <table class="table table-condensed table-hover table-striped">
            <thead>
              <tr>
                <th>
                  Name
                </th>
                <th>
                  Phone
                </th>
                <th>
                  Birth Date
                </th>
                <th>
                  Role
                </th>
                <th>
                  Additional data
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="member in $ctrl.family.familyTree track by $index">
                <td>
                  {{member.name}}
                </td>
                <td>
                  {{member.phone}}
                </td>
                <td ng-show="member.birthDate">
                  {{member.birthDate | date:'MM/dd/yyyy'}}
                </td>
                <td ng-show="member.age">
                  Age: {{member.age}}
                </td>
                <td ng-show="!member.age && !member.birthDate">
                  Unknown
                </td>
                <td>
                  {{member.role || 'No role present'}}
                </td>
                <td>
                  {{member.additionalData || 'No data present'}}
                </td>
              </tr>
            </tbody>
          </table>
    	</div>
      <div class="panel-body" ng-show="!$ctrl.inModifyMode">
        <h5>Contact information</h5>
        <p>Name: {{$ctrl.family.contact.name}} ,  Phone: {{$ctrl.family.contact.phone}}</p>
        <span>Additional data: {{$ctrl.family.contact.details}}</span>
      </div>
      <div class="panel-body" ng-show="$ctrl.hasRole('member') && $ctrl.inModifyMode">
        <input  type="text" ng-model="$ctrl.u_family.contact.name" placeholder="Contact's name" class="form-control input-md" required="">
        <input  type="text" ng-model="$ctrl.u_family.contact.phone" placeholder="Contact's phone" class="form-control input-md" required="">
        <textarea ng-model="$ctrl.u_family.contact.details" class="form-control">Contact's additional data</textarea>
      </div>
      <div ng-show="!$ctrl.inModifyMode && $ctrl.family.address">
        <ng-map id="familyInfoMap" center="{{$ctrl.family.address}}" zoom-to-include-markers="true">
           <marker position="{{$ctrl.family.address}}" animation="Animation.BOUNCE"></marker>
        </ng-map>
      </div>
    	<div class="panel-footer">
        <button type="button"
          class="btn btn-primary"
          ng-model="startRemove"
          ng-show="$ctrl.hasRole('manager') && !startRemove"
          uib-btn-checkbox
          btn-checkbox-true="1"
          btn-checkbox-false="0">
        Delete
        </button>
        <button type="button"
          class="btn btn-primary"
          ng-model="startRemove"
          ng-show="$ctrl.hasRole('manager') && startRemove"
          uib-btn-checkbox
          btn-checkbox-true="0"
          btn-checkbox-false="1">
        Cancel remove
        </button>
        <button type="button"
          class="btn btn-danger"
          ng-model="startRemove"
          ng-show="$ctrl.hasRole('manager') && startRemove"
          uib-btn-checkbox
          btn-checkbox-true="1"
          btn-checkbox-false="0"
          ng-click="$ctrl.removeFamily($ctrl.family)">
        Confirm remove
        </button>
        <button type="button"
          class="btn btn-primary"
          ng-model="$ctrl.inModifyMode"
          ng-show="$ctrl.hasRole('member') && !$ctrl.inModifyMode"
          uib-btn-checkbox
          btn-checkbox-true="true"
          btn-checkbox-false="false">
        Modify
        </button>
        <button type="button"
          class="btn btn-primary"
          ng-model="$ctrl.inModifyMode"
          ng-show="$ctrl.hasRole('member') && $ctrl.inModifyMode"
          ng-click="$ctrl.saveFamily()"
          uib-btn-checkbox
          btn-checkbox-true="false"
          btn-checkbox-false="true">
        Save
        </button>
        <button type="button"
          class="btn btn-primary"
          ng-model="$ctrl.inModifyMode"
          ng-show="$ctrl.hasRole('member') && $ctrl.inModifyMode"
          ng-click="$ctrl.close()"
          uib-btn-checkbox
          btn-checkbox-true="false"
          btn-checkbox-false="true">
        Close without saving
        </button>
        <button type="button" class="btn"
         ng-class="{'btn-info': $ctrl.family.inWaitingList, 'btn-danger': !$ctrl.family.inWaitingList}"
         ng-model="$ctrl.u_family.inWaitingList"
         ng-show="$ctrl.hasRole('member') && $ctrl.inModifyMode"
         uib-btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false">
            <span ng-show="$ctrl.u_family.inWaitingList">Remove from waiting list</span>
            <span ng-show="!$ctrl.u_family.inWaitingList">Add to waiting list</span>
        </button>
    	</div>
    </div>
  </div>
</div>
