<div class="row">
  <div class="col-md-12">
    <div class="panel panel-primary family-info-custom">
    	<div class="panel-heading">
    		<h3 class="panel-title">
          {{$ctrl.family.name}}
    		</h3>
    	</div>
    	<div class="panel-body">
        <div>Address : {{$ctrl.family.address}}</div>
    	</div>
      <div map-lazy-load="https://maps.google.com/maps/api/js">
  <ng-map center="41,-87" zoom="3"></ng-map>
</div>
    	<div class="panel-footer">
        <button type="button"
          class="btn btn-primary"
          ng-model="emptyModal"
          uib-btn-checkbox
          btn-checkbox-true="1"
          btn-checkbox-false="0"
          ng-click="$ctrl.removeFamily($ctrl.family)">
        Delete 
        </button>
    	</div>
    </div>
  </div>
</div>
