<div class="container-fluid">
	<form lass="form-horizontal">
		<fieldset>
			<legend>Add new family</legend>
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<h4>Basic information about the family</h4>
								<input type="text" ng-model="$ctrl.model.family.name" placeholder="Family name" class="form-control input-md" required="">
								<input type="text" class="form-control input-md" ng-autocomplete ng-model="$ctrl.model.family.address" />
								<input type="text" ng-model="$ctrl.model.family.phone" placeholder="Family home phone" class="form-control input-md" />
								<textarea ng-model="$ctrl.model.family.details" class="form-control" placeholder="Additional data"></textarea>
							</div>
						</div>
						<div class="col-md-6">

							<div class="form-group">
								<h4>Information about the contact the referrer</h4>
								<input type="text" ng-model="$ctrl.model.family.contact.name" placeholder="Contact's name" class="form-control input-md" required="">
								<input type="text" ng-model="$ctrl.model.family.contact.phone" placeholder="Contact's phone" class="form-control input-md" required="">
								<textarea ng-model="$ctrl.model.family.contact.details" class="form-control" placeholder="Contact's additional data"></textarea>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<h4>Family structure | basic information about family members</h4>
							<div class="form-group form-inline">
								<div class="row">
									<div class="col-md-12">
										<div class="btn-group">
											<label ng-repeat="role in $ctrl.model.familyRoles" class="btn btn-primary" ng-model="$ctrl.model.familyMember.role" uib-btn-radio="'{{role}}'" uncheckable>
															{{role}}
											</label>
										</div>
										<input type="text" ng-model="$ctrl.model.familyMember.name" placeholder="Name" class="form-control input-md custom-width-family-tree" required="">
										<input type="checkbox" ng-model="$ctrl.model.familyMember.showPhoneInput"> Add phone number
										<input type="text" ng-model="$ctrl.model.familyMember.phone" ng-show="$ctrl.model.familyMember.showPhoneInput" placeholder="Phone" class="form-control input-md custom-width-family-tree" required="">
										<p class="input-group custom-margin-family-tree">
											<input type="text" class="form-control" placeholder="Birthdate YYYY-MM-DD" uib-datepicker-popup="{{format}}" ng-model="$ctrl.model.familyMember.birthDate" is-open="$ctrl.model.calendar.birthDate.isOpen" datepicker-options="$ctrl.model.calendar.birthDate"
															ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
											<span class="input-group-btn">
												<button type="button" class="btn btn-default" ng-click="$ctrl.model.calendar.birthDate.isOpen = !$ctrl.model.calendar.birthDate.isOpen"><i class="glyphicon glyphicon-calendar"></i></button>
											</span>
										</p>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12 ">
										<div class="form-group max-width">
											<textarea ng-model="$ctrl.model.familyMember.additionalData" class="form-control max-width" placeholder="Additional data about the member"></textarea>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<button ng-click="$ctrl.addAnotherFamilYMember()" type="button" class="btn btn-primary" ng-model="singleModel" uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
											Add another
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div ng-repeat="member in $ctrl.model.family.familyTree">
								Family member {{$index}} : {{member.role}} {{member.name}} {{member.age}} {{member.phone}}
							</div>
						</div>
						<div class="col-md-12">
							<!-- TODO: Add table -->
							<div class="checkbox">
								<label>
									<input type="checkbox" ng-model="$ctrl.model.family.inWaitingList">
									Add to waiting list
								</label>
							</div>
							<button ng-click="$ctrl.createNewFamily()" type="button" class="btn btn-primary save-new-family-btn" ng-model="singleModel" uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
								Save
							</button>
						</div>
					</div>
				</div>
			</div>
		</fieldset>
	</form>
</div>
