<div class="container-fluid loading-sketch fx-fade-up fx-dur-600 fx-ease-none" ng-show="$ctrl.isLoading">
  <div class="windows8">
    <div class="wBall" id="wBall_1">
      <div class="wInnerBall"></div>
    </div>
    <div class="wBall" id="wBall_2">
      <div class="wInnerBall"></div>
    </div>
    <div class="wBall" id="wBall_3">
      <div class="wInnerBall"></div>
    </div>
    <div class="wBall" id="wBall_4">
      <div class="wInnerBall"></div>
    </div>
    <div class="wBall" id="wBall_5">
      <div class="wInnerBall"></div>
    </div>
  </div>
</div>

<div  ng-show="$ctrl.loadMoreVolunteers" class="pop-up-full-screen fx-fade-normal fx-dur-600 fx-ease-none">
  <ng-md-icon class="cursor-pointer action-bar-stick-to-right" size="54" icon="close" style="fill: #000000" ng-click="$ctrl.loadMore()"></ng-md-icon>
  <div class="row">
    <input type="text" ng-model="volunteerSearch" placeholder="Search" class="form-control input-md" uib-tooltip="ניתן לחפש לפי כל שדה" required="">
  </div>
  <table class="table table-condensed table-hover table-striped">
    <thead>
      <tr>
        <th>
          Name
        </th>
        <th>
          Address
        </th>
        <th>
          Add to sketch
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="volunteer in $ctrl.volunteers | filter:volunteerSearch track by $index">
        <td>
          {{volunteer.name}}
        </td>
        <td>
          {{volunteer.address.name}}
        </td>
        <td>
          <ng-md-icon class="cursor-pointer" size="30" icon="playlist_add" style="fill: #9C27B0" ng-click="$ctrl.addVolunteerToSketch(volunteer)"></ng-md-icon>
        </td>
      </tr>
    </tbody>
  </table>

</div>

<div class="container-fluid" ng-hide="$ctrl.isLoading">
  <div class="row hidden-detilas fx-fade-down fx-dur-600 fx-ease-none" ng-show="$ctrl.showDetailsAboutRoute">
    <ng-md-icon class="cursor-pointer action-bar-stick-to-right" size="54" icon="close" style="fill: #000000" ng-click="$ctrl.closeRouteDetailsDialog()"></ng-md-icon>
    <div class="col-md-8 col-md-offset-2">
      <div class="row">
        <div class="col-md-6">
          <b>Destination </b>
          {{$ctrl.model.map.destination.name}}
          <select ng-model="$ctrl.model.map.destination" ng-init="$ctrl.selectedRoute.volunteers[0].address">
            <option ng-repeat="v in $ctrl.selectedRoute.volunteers" value="{{v.address.latlng}}">{{v.name}} - {{v.address.name}}</option>
          </select>
          Directions path length:
          {{map.directionsRenderers[0].directions.routes[0].legs[0].distance.text}}
          Optimized: {{!$ctrl.model.map.optimize}}
          <input type="checkbox" ng-model="$ctrl.model.map.optimize"
          ng-true-value="false" ng-false-value="true">
        </div>
        <div class="col-md-6">
          <div id="directions-panel" class="directions">
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="row routes-holder">
    <div class="col-md-2 fx-bounce-left fx-dur-680 fx-ease-none height-45-overflow-scroll" ng-show="$ctrl.showFamilies">
      <div class="height-5" ui-on-Drop="$ctrl.onDropNonAttachedFamily($event,$data,family)">
        drop family here
      </div>
      <table class="table table-condensed table-hover table-striped">
        <thead>
          <tr>
            <th>
              Families
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="family in $ctrl.eventSketch.nonAttachhedFamilies track by $index" ui-draggable="true" drag="family" on-drop-success="$ctrl.dropNonAttachedFamilySuccessHandler($event,$index,f)">
            <td>
              {{family.name}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div ng-class="$ctrl.routesClass">
      <div class="row route-holder">
        <div class="col-md-6" ng-repeat="route in $ctrl.eventSketch.routes">
          <event-route on-update="$ctrl.updateRoute($index, route, updatedRoute)" data="route" on-remove="$ctrl.onRemoveRoute(families, volunteers, $index)" on-more="$ctrl.showDetails($index)" on-send="$ctrl.sendRoute($index)"></event-route>
        </div>
      </div>
    </div>
    <div class="col-md-2 fx-bounce-right fx-dur-680 fx-ease-none height-45-overflow-scroll" ng-show="$ctrl.showVolunteers">
      <div class="height-5 drop-box" ui-on-Drop="$ctrl.onDropNonAttachedVolunteer($event,$data,volunteer)">
        drop volunteer here
        <ng-md-icon class="cursor-pointer" size="30" icon="more" style="fill: #00BCD4" ng-click="$ctrl.loadMore()"></ng-md-icon>
      </div>
      <table class="table table-condensed table-hover table-striped">
        <thead>
          <tr>
            <th>
              Volunteers
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="volunteer in $ctrl.eventSketch.nonAttachedVolunteers track by $index" ui-draggable="true" drag="volunteer" on-drop-success="$ctrl.dropNonAttachedVolunteerSuccessHandler($event,$index,v)">
            <td>
              {{volunteer.name}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row action-bar">
    <div class="col-md-1">
      <sticky-icon class="action-bar-stick-to-left" both-size="52" base-icon="group" on-toggle-icon="fast_rewind" base-icon-color="fill: #9C27B0" on-toggle-set-color="fill: #2196F3" on-toggle="$ctrl.toggleFamilies(state,a,b,c)"></sticky-icon>
    </div>
    <div class="col-md-10 action-bar-buttons">
      <button type="button" class="seleq-flat-button" ng-click="$ctrl.addEmptyRoute()">
        Add route
      </button>
      <button type="button" class="seleq-flat-button" ng-click="$ctrl.saveEvent()">
        Save event
      </button>
    </div>
    <div class="col-md-1">
      <sticky-icon class="action-bar-stick-to-right" both-size="52" base-icon="account_box" on-toggle-icon="fast_forward" base-icon-color="fill: #9C27B0" on-toggle-set-color="fill: #2196F3" on-toggle="$ctrl.toggleVolunteers(state)"></sticky-icon>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <ng-map id="routesMap" center="{{$ctrl.model.map.center}}" zoom="14" class="map-route-holder">
        <directions draggable="true" panel="directions-panel" travel-mode="{{$ctrl.model.map.travelMode}}" waypoints="{{$ctrl.model.map.wayPoints}}" origin="{{$ctrl.model.map.origin}}" optimize-waypoints="{{$ctrl.model.map.optimize}}" destination="{{$ctrl.model.map.destination}}">
        </directions>
      </ng-map>
    </div>
  </div>
</div>
