.statistics-events{
  height: 45vh;
  margin-bottom: 10px;
}


.statistics-events > .row:first-child {
  height: 20vh;
  max-height: 20vh;
  overflow-y: scroll;
  margin-bottom: 10px;
}
.statistics-events > .row:nth-child(2) {
}

.statistics-events > .row:nth-child(2) > div > textarea {
  position: relative;
  top: 14vh;
}

.statistics-map-container{
  padding: 0 0 0 0;
}

.map{
  height: 45vh;
  width: 100%;
}

.list-holder > div > label {
  width: 100%;
}

.list-holder > div > label > span {
  float: right;
}

.costum-marker{
  height: 17em;
  background: #fff;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
}

.costum-marker > a:first-of-type{
  float: right;
}

.costum-marker > div:nth-child(2){
  background-color: #03A9F4;
  height: 3em;
}

.stick-to-left {
  position: absolute;
  top: 20em;
  z-index: 50;
}

.stick-to-right {
  position: absolute;
  top: 20em;
  right: 0;
  z-index: 50;
}

.side-button {
  margin-bottom: 2px;
  width: 50px;
  background-color: #C51162;
}
