<div class="container-fluid">
	<div class="row">
		<div class="col-md-3">
      family list goes here
			<input type="text" class="form-control" ng-model="familyQuery">
			<div ng-repeat="family in $ctrl.families | filter:familyQuery | filter:{checked: '!true'}  track by $index">
				{{family.name}}
				<input type="checkbox" ng-model="family.checked"><br>
			</div>
		</div>
		<div class="col-md-6">
			<div class="row">
				<div class="col-md-12 statistic-events">
          pre saved data goes here
					<div ng-repeat="volunteer in $ctrl.volunteers | filter: {checked: 'true'} track by $index">
						{{volunteer.name}}
					</div>
					<div ng-repeat="family in $ctrl.families | filter: {checked: 'true'} track by $index">
						{{family.name}}
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 statistic-map-container">
					<ng-map  center="0,0" zoom-to-include-markers="true">
					</ng-map>
				</div>
			</div>
		</div>
		<div class="col-md-3">
      volunteers list goes here
			<input type="text" class="form-control" ng-model="volunteerQuery">
			<div ng-repeat="volunteer in $ctrl.volunteers | filter:volunteerQuery | filter:{checked: '!true'} track by $index">
				{{$index}} - {{volunteer.name}}
				<input type="checkbox" ng-model="volunteer.checked">
			</div>
		</div>
	</div>
</div>
